body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

.container-box {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1, h2 {
  color: #333333;
}

p, li {
  color: #666666;
}


.button-container button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: block;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to right, #aa076b, #61045f);
}

.button-container button:hover{
  background-image: linear-gradient(to right, #61045f, #aa076b);
}

@media (max-width: 768px) {
  .container-box {
     margin: 10px;
   }
 
  .button-container button {
     font-size: 16px;
   }
 }
 
 @media (max-width: 480px) {
  .container-box {
     margin: 5px;
   }
 
  .button-container button {
     font-size: 14px;
   }
 }
